@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.overleyImg {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../src/images/mm.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}